//Colors
$color-1: #F4A261; // orange
$color-2: #006D77; // dark blue
$color-3: #E76F51; // red
$color-4: #83C5BE; // light blue
$color-5: #EDF6F9; // light blue background
$success: #6fce72; // green
$alert: $color-3; // red


//Type and Fonts
$primary-font: 'Fredericka the Great', Times New Roman, serif;
$secondary-font: 'Oswald', Helvetica, sans-serif;

