:root {
    --primary-color: #FFF07C;
    --secondary-color: #132A13;
    --accent1-color: #CD8B76;
    --accent2-color: #F0F7F4;
    --accent3-color: #284B63;
    --heading-font: "Playfair Display";
    --paragraph-font: "Gothic A1";
}

body {
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font), 'Times New Roman', Times, serif;
    color: var(--accent3-color);
}

p,
ul,
form {
    font-family: var(--paragraph-font), Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    font-size: 14px;
}

#banner {
    display: none;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

header img {
    width: 100px;
    padding: 20px;
}

header h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

header .header {
    padding: 5px;
    align-self: center;
}

header div.motto {
    font-family: var(--heading-font), 'Times New Roman', Times, serif;
    color: var(--accent3-color);
    font-size: 1.0em;
}

/* Navigation menu*/
nav {
    background-color: var(--primary-color);
    width: 100%;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: var(--accent3-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    padding: .8rem 2%;
    min-width: 70px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: var(--accent3-color);
}

nav a:link,
nav a:visited {
    color: var(--accent3-color);
}

nav a:hover {
    color: white;
    background-color: var(--accent1-color);
}

.active {
    background-color: #FFF2C2;
}

nav ul.hide {
    display: none;
}

main {
    max-width: 98%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}

/*Home*/
.towndata section{
background-color: var(--primary-color);
border: 2px solid var(--secondary-color);
text-align: center;
margin: 10px auto;
max-width: 550px;
}

.towndata h3{
    font-size: 1.2em;
}

.towndata h4{
    font-style: italic;
}

.towndata img{
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

/* Preston Page*/
.herosection {
    position: relative;
}

.heropic {
    max-width: 500px;
    display: block;
}

.heropic img {
    width: 100%;
}

.summary {
    position: absolute;
    top: 5px;
    right: 10px;
    border: 2px solid var(--primary-color);
    background-color: rgba(205, 139, 118, .85);
    padding: 15px;
}

.fiveday {
    display: none;
}

.article {
    display: grid;
}

.articlehead {
    grid-row: 1/2;
}

.articleimg {
    align-self: center;
    max-width: 350px;
    grid-row: 3/4;

}

.articletext {
    grid-row: 2/3;
}

/*Storm Center*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--accent3-color);
    padding: .5rem 2%;
}

form legend {
    color: var(--accent3-color);
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--accent3-color);
}

form label input,
form label select {
    -webkit-appearance: none;
    display: block;
    border: 1px solid var(--accent3-color);
    padding: .75rem;
    max-width: 20rem;
    background-color: rgba(205, 139, 118, 0.2);
}


form input.submitBtn{
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 1.5rem;
}



/*Gallery Page*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.gallery h2 {
    grid-column: 1/-1;
    justify-self: center;
}

.gallery figure {
    border: 10px solid var(--accent3-color);
}

.gallery figure img {
    width: 100%;
}

.gallery figure figcaption {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
    text-align: center;
}

/*Contact Us*/
 .contact{
    display: grid;
    align-items: center;
    justify-content: center;
    }

.contact h2{
grid-row: 1/2;
}

.contactinfo {
    grid-row: 2/3;
}

.contact img{
    grid-row: 3/4;
}
/*Footer section*/
footer {
    padding: 5px 10px;
    text-align: center;
    background-color: var(--primary-color);
    height: auto;
    color: var(--accent3-color);

}

section {
    padding: 10px;
}