:root {
    --primary-color: #FFF07C;
    --secondary-color: #132A13;
    --accent1-color: #CD8B76;
    --accent2-color: #F0F7F4;
    --accent3-color: #284B63;
    --heading-font: "Playfair Display";
    --paragraph-font: "Gothic A1", Helvetica, sans-serif;
}

html {
    background-color: var(--accent1-color);
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font), 'Times New Roman', Times, serif;
    color: var(--accent3-color);
}

p, ul{
    font-family: var(--paragraph-font), Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
     font-size: 18px;
}

header {
    padding: 5px 10px;
    background-color: var(--primary-color);
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    font-size: 1.5em;
}

nav {
    background-color: var(--primary-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link,
nav a:visited {
    color:var(--secondary-color);
}

nav a:hover {
    color: white;
    background-color: var(--accent1-color);
}

footer {
    padding: 5px 10px;
    text-align: center;
    background-color:var(--primary-color);
    height: 2em;
    color: var(--accent3-color);
}

footer a:link {
    color:var(--accent3-color);
}

footer a:visited {
    color: var(--secondary-color);
}